.header {
  position: relative;
  box-shadow: 0em -0.625em 0.625em 0.938em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0em -0.625em 0.625em 0.938em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0em -0.625em 0.625em 0.938em rgba(0, 0, 0, 0.5);
  z-index: 1;
}
