.change-name-form {
  padding: 1.25em 0.938em;
  margin-left: 4em;
  margin-right: 4em;
  max-width: 30em !important;

  > h4 {
    color: $secondary;
    font-size: 1.375rem;
  }

  > form {
    text-align: end;

    .submit {
      padding: 0.75em 2.5em;

      > span {
        margin-left: 0.5em;
      }
    }
  }
}
