.form-payment {
  width: 60%;
  margin: 0 auto;

  .StripeElement {
    padding: 0.938em;
    border-radius: 0.25rem;
    box-shadow: 0em 0.625em 0.938em -0.188em rgba(0, 0, 0, 0.2);
    border: 0.063em solid $border-grey-light;
  }

  .ui.button {
    margin-top: 0.938em;
    padding: 0.938em;
    background-color: $primary;
    box-shadow: 0em 0.625em 0.938em -0.188em rgba(0, 0, 0, 0.2);
    color: $font-light;
    width: 100%;
  }
}
