.menu {
    background-color: $background-grey-dark;
    border-radius:  0em;

    .ui.grid {
        margin: 0em;
    }

    &__left,
    &__right {
        padding: 0 !important;
        display: flex !important;
        align-items: center;

        .ui.menu {
            border: 0;
            box-shadow: none;
            height: 100%;
            background: transparent;

            .icon {
                margin-right: 0.625em !important;
                color: $primary;
            }

            .item {
                color: $font-light !important;
                border-radius: 0em !important;
                padding-left: 0.6em !important;
                padding-right: 0.6em !important;

                &:hover {
                    color: $font-light;
                    background-color: $background-dark-absolute;
                    &:before {
                        background-color: $background-dark-absolute;
                    }
                }

                &.m-0 i {
                    margin: 0em 0.5em 0em 0.5em !important;
                }
            }
        }
    }

    &__right {
        display: flex;
        justify-content: flex-end;
    }
}
