.basic-modal {
    .header {
        background-color: $primary !important;
        display: flex !important;
        align-items: center;
        justify-content: space-between;

        span,
        i {
            color: $font-light;
        }

        i {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 1.563rem;
            margin: 0em;

            &:hover {
                cursor: pointer;
            }
        }
    }
}